{% include 'ad_header.html' %}
{% include 'ad_navbar.html' %}
{% include 'ad_sidebar.html' %}

<div class="container-fluid pt-4 px-4">
    <h6 class="mb-4">PELANGGAN</h6>
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-sm-8 col-md-8 col-xl-10">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">

                <table style="width: 100%;">
                    <tr>
                        <td style="width: 30%; vertical-align: top;"><br><br>
                            <img src="./static/ad_assets/img/user.jpg" alt="..." style="width: 100%; height: auto;">
                        </td>
                        <td style="width: 5%;"></td>
                        <td style="vertical-align: top;">
                            <div class="profile-container"> 
                                <h5 class="text-right">Profil Diri</h5><br>
                                <div class="profile-info">
                                    <div class="info-group">
                                        <p><strong>Nama:</strong> Lorem Ipsum</p>
                                        <p><strong>Tanggal Lahir:</strong> Lorem Ipsum</p>
                                        <p><strong>Jenis Kelamin:</strong> Lorem Ipsum</p>
                                    </div>
                                    <div class="info-group">
                                        <p><strong>Email:</strong> Lorem Ipsum</p>
                                        <p><strong>No HP:</strong> Lorem Ipsum</p>
                                        <p><strong>Kata Sandi:</strong> <span id="password">**********</span> <span class="lihat-sandi" onclick="togglePassword()">Lihat</span></p>
                                    </div>
                                </div>
                                <div class="edit-button">
                                    <button type="button" class="btn btn-primary rounded-pill m-2" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">Edit Profil</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EDIT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Profil</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <div class="mb-3">
                    <label for="bankName" class="form-label">Nama</label>
                    <input type="text" class="form-control" id="bankName">
                </div>
                <div class="mb-3">
                    <label for="birthDate" class="form-label">Tanggal Lahir</label>
                    <input type="date" class="form-control" id="birthDate">
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Jenis Kelamin</label>
                    <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                        <option value="1">Laki-laki</option>
                        <option value="2">Perempuan</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">No HP</label>
                    <input type="text" class="form-control" id="phoneNumber">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Kata Sandi</label>
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill m-2" data-bs-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary rounded-pill m-2">Simpan</button>
            </div>
        </div>
    </div>
</div>




<script>
    function togglePassword() {
        var passwordSpan = document.getElementById('password');
        if (passwordSpan.textContent === '**********') {
            passwordSpan.textContent = 'password123'; // Ganti dengan kata sandi asli
        } else {
            passwordSpan.textContent = '**********';
        }
    }
</script>


{% include 'ad_footer.html' %}
