{% include 'ad_header.html' %}
{% include 'ad_navbar.html' %}
{% include 'ad_sidebar.html' %}

<div class="container-fluid pt-4 px-4">
    <h6 class="mb-4">PENGATURAN PENGIRIMAN</h6>
    <div class="row g-4">
        <div class="col-sm-12 col-xl-7">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Konfigurasi Pengiriman</h6>
                <form action="{{ url_for('tambah_pengiriman') }}" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="jasa_kirim" class="form-label">Jasa Kirim</label>
                            <input type="text" class="form-control" id="jasa_kirim" name="jasa_kirim">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="tarif_dalam_kota" class="form-label">Tarif Dalam Kota (TDK)</label>
                            <input type="text" class="form-control" id="tarif_dalam_kota" name="tarif_dalam_kota">
                        </div>
                        <div class="col">
                            <label for="estimasi_dalam_kota" class="form-label">Estimasi Dalam Kota (EDK)</label>
                            <input type="text" class="form-control" id="estimasi_dalam_kota" name="estimasi_dalam_kota">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="tarif_luar_kota" class="form-label">Tarif Luar Kota (TLK)</label>
                            <input type="text" class="form-control" id="tarif_luar_kota" name="tarif_luar_kota">
                        </div>
                        <div class="col">
                            <label for="estimasi_luar_kota" class="form-label">Estimasi Luar Kota (ELK)</label>
                            <input type="text" class="form-control" id="estimasi_luar_kota" name="estimasi_luar_kota">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="tarif_luar_provinsi" class="form-label">Tarif Kota Luar Provinsi (TKLP)</label>
                            <input type="text" class="form-control" id="tarif_luar_provinsi" name="tarif_luar_provinsi">
                        </div>
                        <div class="col">
                            <label for="estimasi_luar_provinsi" class="form-label">Estimasi Kota Luar Provinsi
                                (EKLP)</label>
                            <input type="text" class="form-control" id="estimasi_luar_provinsi"
                                name="estimasi_luar_provinsi">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="tarif_luar_pulau" class="form-label">Tarif Luar Pulau (TLP)</label>
                            <input type="text" class="form-control" id="tarif_luar_pulau" name="tarif_luar_pulau">
                        </div>
                        <div class="col">
                            <label for="estimasi_luar_pulau" class="form-label">Estimasi Luar Pulau (ELP)</label>
                            <input type="text" class="form-control" id="estimasi_luar_pulau" name="estimasi_luar_pulau">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger rounded-pill">Masukkan</button>
                </form>

            </div>
        </div>

        <div class="col-sm-12 col-xl-5">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Tambah Kota/Kab</h6>
                <form action="{{ url_for('tambah_kota') }}" method="POST">
                    <div class="mb-3">
                        <label for="jasa_kirim" class="form-label">Pilih Jasa Kirim</label>
                        <select class="form-select mb-3" name="jasa_kirim" aria-label="Pilih Jasa Kirim">
                            <option selected>Pilih Jasa Kirim</option>
                            {% for item in pengiriman %}
                            <option value="{{ item.jasa_kirim }}">{{ item.jasa_kirim }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="zona_tarif" class="form-label">Pilih Zona Tarif</label>
                        <select class="form-select mb-3" name="zona_tarif" aria-label="Pilih Zona Tarif">
                            <option selected>Pilih Zona Tarif</option>
                            <option value="Dalam Kota">Dalam Kota</option>
                            <option value="Luar Kota">Luar Kota</option>
                            <option value="Luar Provinsi">Luar Provinsi</option>
                            <option value="Luar Pulau">Luar Pulau</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="nama_kota" class="form-label">Nama Kota/Kab</label>
                        <input type="text" class="form-control" id="nama_kota" name="nama_kota">
                    </div>
                    <button type="submit" class="btn btn-danger rounded-pill">Tambah</button>
                </form>

            </div>
        </div>

        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="bg-danger text-light">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Jasa Kirim</th>
                                <th scope="col">TDK</th>
                                <th scope="col">EDK</th>
                                <th scope="col">TLK</th>
                                <th scope="col">ELK</th>
                                <th scope="col">TKLP</th>
                                <th scope="col">EKLP</th>
                                <th scope="col">TLP</th>
                                <th scope="col">ELP</th>
                                <th scope="col">Daftar Kota/Kab</th>
                                <th scope="col" class="text-center">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in pengiriman %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ item.jasa_kirim }}</td>
                                <td>{{ item.zona['dalam kota'].tarif }}</td>
                                <td>{{ item.zona['dalam kota'].estimasi }}</td>
                                <td>{{ item.zona['luar kota'].tarif }}</td>
                                <td>{{ item.zona['luar kota'].estimasi }}</td>
                                <td>{{ item.zona['luar provinsi'].tarif }}</td>
                                <td>{{ item.zona['luar provinsi'].estimasi }}</td>
                                <td>{{ item.zona['luar pulau'].tarif }}</td>
                                <td>{{ item.zona['luar pulau'].estimasi }}</td>
                                <td>
                                    {% for zona, detail_zona in item.zona.items() %}
                                    {% set jumlah_kota = detail_zona['kota-kabupaten']|length %}
                                    {{ zona }}: {{ jumlah_kota }}<br>
                                    {% endfor %}
                                </td>
                                <td class="text-center">
                                    <form action="{{ url_for('hapus_pengiriman', pengiriman_id=item._id) }}"
                                        method="POST">
                                        <button type="submit" class="btn btn-square btn-dark m-2"><i
                                                class="fa fa-trash-o" title="Delete"></i></button>
                                    </form>
                                    <button type="button" class="btn btn-square btn-danger m-2" data-bs-toggle="modal"
                                        data-bs-target="#ModalEdit{{ item._id }}"><i class="fa fa-edit"
                                            title="Edit"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal Edit Pengiriman -->
{% for item in pengiriman %}
<div class="modal fade" id="ModalEdit{{ item._id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EDIT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm{{ item._id }}" method="POST" action="/editpengiriman/{{ item._id }}">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="jasa_kirim" class="form-label">Jasa Kirim</label>
                            <input type="text" class="form-control" id="jasa_kirim" name="jasa_kirim"
                                value="{{ item.jasa_kirim }}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="tarif_dalam_kota" class="form-label">Tarif Dalam Kota (TDK)</label>
                            <input type="text" class="form-control" id="tarif_dalam_kota" name="tarif_dalam_kota"
                                value="{{ item.zona['dalam kota'].tarif }}">
                        </div>
                        <div class="col">
                            <label for="estimasi_dalam_kota" class="form-label">Estimasi Dalam Kota (EDK)</label>
                            <input type="text" class="form-control" id="estimasi_dalam_kota" name="estimasi_dalam_kota"
                                value="{{ item.zona['dalam kota'].estimasi }}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="tarif_luar_kota" class="form-label">Tarif Luar Kota (TLK)</label>
                            <input type="text" class="form-control" id="tarif_luar_kota" name="tarif_luar_kota"
                                value="{{ item.zona['luar kota'].tarif }}">
                        </div>
                        <div class="col">
                            <label for="estimasi_luar_kota" class="form-label">Estimasi Luar Kota (ELK)</label>
                            <input type="text" class="form-control" id="estimasi_luar_kota" name="estimasi_luar_kota"
                                value="{{ item.zona['luar kota'].estimasi }}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="tarif_luar_provinsi" class="form-label">Tarif Kota Luar Provinsi (TKLP)</label>
                            <input type="text" class="form-control" id="tarif_luar_provinsi" name="tarif_luar_provinsi"
                                value="{{ item.zona['luar provinsi'].tarif }}">
                        </div>
                        <div class="col">
                            <label for="estimasi_luar_provinsi" class="form-label">Estimasi Kota Luar Provinsi
                                (EKLP)</label>
                            <input type="text" class="form-control" id="estimasi_luar_provinsi"
                                name="estimasi_luar_provinsi" value="{{ item.zona['luar provinsi'].estimasi }}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="tarif_luar_pulau" class="form-label">Tarif Luar Pulau (TLP)</label>
                            <input type="text" class="form-control" id="tarif_luar_pulau" name="tarif_luar_pulau"
                                value="{{ item.zona['luar pulau'].tarif }}">
                        </div>
                        <div class="col">
                            <label for="estimasi_luar_pulau" class="form-label">Estimasi Luar Pulau (ELP)</label>
                            <input type="text" class="form-control" id="estimasi_luar_pulau" name="estimasi_luar_pulau"
                                value="{{ item.zona['luar pulau'].estimasi }}">
                        </div>
                    </div>
                </form>
                <!-- Tabel Kota/Kabupaten -->
                <table class="table table-bordered mt-4">
                    <thead class="bg-danger text-light">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Zona Tarif</th>
                            <th scope="col">Nama Kota/Kab</th>
                            <th scope="col" class="text-center">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in pengiriman %}
                        {% for zona, detail_zona in item.zona.items() %}
                        {% for kota_kabupaten in detail_zona['kota-kabupaten'] %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ zona }}</td>
                            <td>{{ kota_kabupaten }}</td>
                            <td class="text-center">
                                <form action="/hapus_kota/{{ kota_kabupaten }}" method="POST">
                                    <button type="submit" class="btn btn-square btn-dark m-2"><i class="fa fa-trash-o"
                                            title="Delete"></i></button>
                                </form>
                                <button type="button" class="btn btn-square btn-danger m-2" data-bs-toggle="modal"
                                    data-bs-target="#editModal{{ item._id }}{{ zona | replace(' ', '_') }}{{ kota_kabupaten | replace(' ', '_') }}">
                                    <i class="fa fa-edit" title="Edit"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill m-2" data-bs-dismiss="modal">Tutup</button>
                <button type="submit" form="editForm{{ item._id }}"
                    class="btn btn-primary rounded-pill m-2">Simpan</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% for item in pengiriman %}
{% for zona, detail_zona in item.zona.items() %}
{% for kota_kabupaten in detail_zona['kota-kabupaten'] %}
<!-- Modal Edit Kota/Kab -->
<div class="modal fade" id="editModal{{ item._id }}{{ zona | replace(' ', '_') }}{{ kota_kabupaten | replace(' ', '_') }}" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EDIT KOTA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm{{ item._id }}{{ zona | replace(' ', '_') }}{{ kota_kabupaten | replace(' ', '_') }}" action="/edit_kota/{{ kota_kabupaten }}" method="POST">
                    <div class="mb-3">
                        <label for="nama_kota_{{ item._id }}{{ zona | replace(' ', '_') }}{{ kota_kabupaten | replace(' ', '_') }}" class="form-label">Nama Kota/Kab</label>
                        <input type="text" class="form-control" id="nama_kota_{{ item._id }}{{ zona | replace(' ', '_') }}{{ kota_kabupaten | replace(' ', '_') }}" name="nama_baru"
                            value="{{ kota_kabupaten }}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="submit" form="editForm{{ item._id }}{{ zona | replace(' ', '_') }}{{ kota_kabupaten | replace(' ', '_') }}" class="btn btn-primary">Simpan</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}
{% endfor %}


{% include 'ad_footer.html' %}