{% include 'ad_header.html' %}
{% include 'ad_navbar.html' %}
{% include 'ad_sidebar.html' %}


<div class="container-fluid pt-4 px-4">
    <h6 class="mb-4">PELANGGAN</h6>
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Nama Pelanggan</th>
                                <th scope="col">Tgl Gabung</th>
                                <th scope="col">No HP</th>
                                <th scope="col">Email</th>
                                <th scope="col">Masukan Plg</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Fajar</td>
                                <td>8-12-2023</td>
                                <td>08124414303</td>
                                <td>fajar@email.com</td>
                                <td>sangat bagus</td>
                                <td><button type="button" class="btn btn-info rounded-pill m-2" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">Detail</button></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mark@email.com</td>
                                <td>UK</td>
                                <td>456</td>
                                <td><button type="button" class="btn btn-info rounded-pill m-2" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Detail</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Pelanggan</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="detail-pelanggan d-flex">
                    <div class="profile-pic me-3">
                        <img src="./static/ad_assets/img/user.jpg" alt="..." style="width: 100px; height: auto;">
                    </div>
                    <div class="info">
                        <p><strong>Nama:</strong> <span id="modal-nama"></span></p>
                        <p><strong>Email:</strong> <span id="modal-email"></span></p>
                        <p><strong>Tanggal Lahir:</strong> <span id="modal-tanggal"></span></p>
                        <p><strong>No HP:</strong> <span id="modal-hp"></span></p>
                        <p><strong>Jenis Kelamin:</strong> <span id="modal-kelamin"></span></p>
                    </div>
                </div>
                <button class="btn btn-success rounded-pill m-2">Whatsapp</button>
                <hr>
                <div class="masukan-pelanggan">
                    <p>Masukan Pelanggan:</p>
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-commenting-o"></i>
                            <div class="row">
                                <div class="col">
                                    <p id="modal-masukan">Hello World</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill m-2" data-bs-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>


{% include 'ad_footer.html' %}