{% include 'ad_header.html' %}
{% include 'ad_navbar.html' %}
{% include 'ad_sidebar.html' %}

<div class="container-fluid pt-4 px-4">
    <h6 class="mb-4">PROFIL</h6>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div style="height: 200px; width: 200px; border-radius: 50%;" class="bg-secondary mx-auto mt-3">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3 class="mb-4">Profil Diri</h3>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h5>Nama</h5>
                                    <p>John Doe</p>
                                </div>

                                <div class="mb-3">
                                    <h5>Tanggal Lahir</h5>
                                    <p>20/02/2024</p>
                                </div>

                                <div class="mb-3">
                                    <h5>Jenis Kelamin</h5>
                                    <p>Laki-laki</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h5>Email</h5>
                                    <p>lorem@gmail.com</p>
                                </div>

                                <div class="mb-3">
                                    <h5>No. HP</h5>
                                    <p>08309128320</p>
                                </div>

                                <div class="mb-3">
                                    <h5>Alamat</h5>
                                    <p>Jl. Pajjaiyang</p>
                                </div>
                            </div>
                        </div>

                        <div class="edit-button">
                            <button type="button" class="btn btn-primary rounded-pill m-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Edit Profil
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">EDIT</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Profil</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="mb-3">
                        <label for="bankName" class="form-label">Nama</label>
                        <input type="text" class="form-control" id="bankName">
                    </div>
                    <div class="mb-3">
                        <label for="birthDate" class="form-label">Tanggal Lahir</label>
                        <input type="date" class="form-control" id="birthDate">
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="form-label">Jenis Kelamin</label>
                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                            <option value="1">Laki-laki</option>
                            <option value="2">Perempuan</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">No HP</label>
                        <input type="text" class="form-control" id="phoneNumber">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Kata Sandi</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-pill m-2"
                        data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-primary rounded-pill m-2">Simpan</button>
                </div>
            </div>
        </div>
    </div>

    {% include 'ad_footer.html' %}