{% include 'ad_header.html' %}
{% include 'ad_navbar.html' %}
{% include 'ad_sidebar.html' %}


<div class="container-fluid pt-4 px-4">
    <h6>PELANGGAN</h6>
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4"></h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Nama Pelanggan</th>
                                <th scope="col">Tgl Gabung</th>
                                <th scope="col">No HP</th>
                                <th scope="col">Email</th>
                                <th scope="col">Masukan Plg</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Fajar</td>
                                <td>8-12-2023</td>
                                <td>08124414303</td>
                                <td>fajar@email.com</td>
                                <td>sangat bagus</td>
                                <td><button type="button" class="btn btn-info rounded-pill m-2" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">Detail</button></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mark@email.com</td>
                                <td>UK</td>
                                <td>456</td>
                                <td><button type="button" class="btn btn-info rounded-pill m-2" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Detail</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Pelanggan</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="detail-pelanggan">
                    <div class="profile-pic"></div>
                    <div class="info">
                        <p><strong>Nama:</strong> <span id="modal-nama"></span></p>
                        <p><strong>Email:</strong> <span id="modal-email"></span></p>
                        <p><strong>Tanggal Lahir:</strong> <span id="modal-tanggal"></span></p>
                        <p><strong>No HP:</strong> <span id="modal-hp"></span></p>
                        <p><strong>Jenis Kelamin:</strong> <span id="modal-kelamin"></span></p>
                    </div>
                    <button class="whatsapp-button">Whatsapp</button>
                </div>
                <hr>
                <div class="masukan-pelanggan">
                    <p>Masukan Pelanggan:</p>
                    <div class="message">
                        <p id="modal-masukan"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const exampleModal = document.getElementById('exampleModal');
    exampleModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget;
        const nama = button.getAttribute('data-nama');
        const email = button.getAttribute('data-email');
        const tanggal = button.getAttribute('data-tanggal');
        const hp = button.getAttribute('data-hp');
        const kelamin = button.getAttribute('data-kelamin');
        const masukan = button.getAttribute('data-masukan');

        const modalNama = exampleModal.querySelector('#modal-nama');
        const modalEmail = exampleModal.querySelector('#modal-email');
        const modalTanggal = exampleModal.querySelector('#modal-tanggal');
        const modalHp = exampleModal.querySelector('#modal-hp');
        const modalKelamin = exampleModal.querySelector('#modal-kelamin');
        const modalMasukan = exampleModal.querySelector('#modal-masukan');

        modalNama.textContent = nama;
        modalEmail.textContent = email;
        modalTanggal.textContent = tanggal;
        modalHp.textContent = hp;
        modalKelamin.textContent = kelamin;
        modalMasukan.textContent = masukan;
    });
</script>




{% include 'ad_footer.html' %}