{% include 'ad_header.html' %}
{% include 'ad_navbar.html' %}
{% include 'ad_sidebar.html' %}

<div class="container-fluid pt-4 px-4">
    <h6 class="mb-4">PENGATURAN PENGGUNA</h6>
    <div class="row g-4">

        <div class="col-sm-3">
            <form class="d-flex">
                <div class="input-group">
                    <input class="form-control form-control-sm" type="search" name="filter" value="" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
       
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Nama Pengguna</th>
                                <th scope="col">Tanggal Gabung</th>
                                <th scope="col">Nomor HP</th>
                                <th scope="col">Email</th>
                                <th scope="col">Peran</th>
                                <th scope="col" class="text-center">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users  %}
                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ user.nama }}</td>
                                    <td>{{ user.tgl_registrasi }}</td>
                                    <td>{{ user.telepon }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>Pelanggan</td>
                                    <td class="text-center">
                                        <form action="/toggle-blokir/{{ user._id }}" method="post" class="d-inline">
                                            {% if 'diblokir' in user and user['diblokir'] == True : %}
                                            <button type="submit" class="btn btn-warning rounded-pill m-2">Unblock</button>
                                            {% else %}
                                            <button type="submit" class="btn btn-danger rounded-pill m-2">Block</button>
                                            {% endif %}
                                        </form>
                                        <button type="button" class="btn btn-info rounded-pill m-2" data-bs-toggle="modal" data-bs-target="#user{{ loop.index }}">Detail</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% for user in users  %}

<!-- Modal -->
<div class="modal fade" id="user{{ loop.index }}" tabindex="-1" aria-labelledby="user{{ loop.index }}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="user{{ loop.index }}Label">EDIT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modalFoto" src="./static/assets/images/client-01.png" alt="Foto Pengguna" class="img-fluid rounded mx-auto d-block" style="width: 150px; height: 150px;">
                <br>
                <p><strong>Nama Pengguna:</strong> <span id="modalNama">{{ user.nama }}</span></p>
                <p><strong>Tanggal Gabung:</strong> <span id="modalTanggal">{{ user.tgl_registrasi }}</span></p>
                <p><strong>Nomor HP:</strong> <span id="modalNomor">{{ user.telepon }}</span></p>
                <p><strong>Email:</strong> <span id="modalEmail">{{ user.email }}</span></p>
                <p><strong>Peran:</strong> <span id="modalPeran">Pelanggan</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill m-2" data-bs-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% include 'ad_footer.html' %}