{% include 'ad_header.html' %}
{% include 'ad_navbar.html' %}
{% include 'ad_sidebar.html' %}

<div class="container-fluid pt-4 px-4">
    <h6 class="mb-4">PROFIL</h6>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <img src="../static/ad_assets/profil_admin/{{ session['avatar'] }}" alt="" style="height: 200px; width: 200px; border-radius: 50%;" class="bg-secondary mt-3">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3 class="mb-4">Profil Admin</h3>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h5>Nama</h5>
                                    <p>{{admin.nama}}</p>
                                </div>

                                <div class="mb-3">
                                    <h5>No. HP</h5>
                                    <p>{{ admin.telepon }}</p>
                                </div>

                                <div class="mb-3">
                                    <h5>Jenis Kelamin</h5>
                                    <p>{{ admin.gender }}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h5>Email</h5>
                                    <p>{{ session['email'] }}</p>
                                </div>

                                <div class="mb-3">
                                    <h5>Tanggal Lahir</h5>
                                    <p>{{ admin.tgl_lahir }}</p>
                                </div>
                                
                                <div class="mb-3">
                                    <h5>Tanggal Registrasi</h5>
                                    <p>{{ session['tgl_registrasi'] }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="edit-button">
                            <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal"
                                data-bs-target="#adprofil">Edit Profil</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <header>
        <!-- Modal -->
        <div class="modal fade" id="adprofil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">EDIT</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Profil</label>
                                <input class="form-control" type="file" id="formFile" name="profil" accept=".jpeg, .png, .jpg">
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Nama</label>
                                <input type="text" class="form-control" id="username" name="username" value="{{ session['username'] }}">
                            </div>
                            <div class="mb-3">
                                <label for="tgl_lahir" class="form-label">Tanggal Lahir</label>
                                <input type="date" class="form-control" id="tgl_lahir" name="tgl_lahir" value="{{ admin.tgl_lahir }}">
                            </div>
                            <div class="mb-3">
                                <label for="gender" class="form-label">Jenis Kelamin</label>
                                <select class="form-select form-select-sm mb-3" name="gender" aria-label=".form-select-sm example">
                                    <option value="Laki-laki" {{ 'selected' if session['gender'] == 'Laki-laki' }}>Laki-laki</option>
                                    <option value="Perempuan" {{ 'selected' if session['gender'] == 'Perempuan' }}>Perempuan</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="telepon" class="form-label">No HP</label>
                                <input type="text" class="form-control" id="telepon" name="telepon" value="{{ session['telepon'] }}">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Kata Sandi</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary rounded-pill m-2"
                                data-bs-dismiss="modal">Tutup</button>
                            <button type="submit" class="btn btn-primary rounded-pill m-2">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    {% include 'ad_footer.html' %}