<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-light navbar-light">
    <a href="/dashboard" class="navbar-brand mx-4 mb-3">
      <h5 class="text-danger">
        <i class=""></i>OMAH KOKI
        <span class="text-dark">JEMBER</span>
      </h5>
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
        {% if session['avatar'] %}
        <img class="rounded-circle" src="../static/ad_assets/profil_admin/{{ session['avatar'] }}" alt="Avatar Admin"
          style="width: 40px; height: 40px" />
        {% else %}
        <img class="rounded-circle" src="../static/ad_assets/profil_admin/default_photo.jpg" alt="Default Avatar"
          style="width: 40px; height: 40px" />
        {% endif %}
        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
      </div>
      <div class="ms-3">
        <h6 class="mb-0">{{ session['username'] }}</h6>
        <span>Admin</span>
      </div>
    </div>
    <div class="navbar-nav w-100">
      <a href="/dashboard" class="nav-item nav-link {% if active_page == 'dashboard' %}active{% endif %}">
        <i class="fa fa-tachometer me-2"></i>Dashboard
      </a>
      <a href="/adpesanan" class="nav-item nav-link {% if active_page == 'pesanan' %}active{% endif %}">
        <i class="fa fa-list-alt me-2"></i>Pesanan
      </a>
      <a href="/adproduk" class="nav-item nav-link {% if active_page == 'produk' %}active{% endif %}">
        <i class="fa fa-th me-2"></i>Produk
      </a>
      <a href="/adpelanggan" class="nav-item nav-link {% if active_page == 'pelanggan' %}active{% endif %}">
        <i class="fa fa-users me-2"></i>Pelanggan
      </a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle {% if active_page in ['lpenjualan', 'lproduk'] %}active{% endif %}" data-bs-toggle="dropdown">
          <i class="fa fa-file-alt me-2"></i>Laporan
        </a>
        <div class="dropdown-menu bg-transparent border-0">
          <a href="/adlpenjualan" class="dropdown-item {% if active_page == 'lpenjualan' %}active{% endif %}">Laporan Penjualan</a>
          <a href="/adlproduk" class="dropdown-item {% if active_page == 'lproduk' %}active{% endif %}">Laporan Produk</a>
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle {% if active_page in ['pembayaran', 'pengiriman', 'pengguna'] %}active{% endif %}" data-bs-toggle="dropdown">
          <i class="fa fa-cog me-2"></i>Pengaturan
        </a>
        <div class="dropdown-menu bg-transparent border-0">
          <a href="/adpembayaran" class="dropdown-item {% if active_page == 'pembayaran' %}active{% endif %}">Pengaturan Pembayaran</a>
          <a href="/adpengiriman" class="dropdown-item {% if active_page == 'pengiriman' %}active{% endif %}">Pengaturan Pengiriman</a>
          <a href="/adpengguna" class="dropdown-item {% if active_page == 'pengguna' %}active{% endif %}">Pengaturan Pengguna</a>
        </div>
      </div>
      <a href="/adprofil" class="nav-item nav-link {% if active_page == 'profil' %}active{% endif %}">
        <i class="fa fa-user me-2"></i>Profil
      </a>
    </div>
  </nav>
</div>
<!-- Sidebar End -->

<div class="container-fluid pt-4 px-4">