<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Print Penjualan</title>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/ad_assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="../static/ad_assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h3>Laporan Penjualan</h3>
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>No. Pesanan</th>
          <th>Tanggal Pesanan</th>
          <th>Nama Pelanggan</th>
          <th>Total Pesanan</th>
          <th>Total Penjualan</th>
        </tr>
      </thead>
      <tbody>
        {% for item in penjualan %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ item.nomor_pesanan }}</td>
          <td>{{ item.tanggal_pesanan }}</td>
          <td>{{ item.nama }}</td>
          <td>{{ 0 }}</td>
          <td>Rp. {{ "{:,.0f}".format(item.total_semuanya).replace(",", ".") }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="5" class="text-end">Total Penjualan</th>
          <td>Rp. 999000000</td>
        </tr>
      </tfoot>
    </table>

    <script>
      window.print();
    </script>
  </body>
</html>
