{% include 'header.html' %}
{% include 'navbar.html' %}

<br><br><br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-2"><h6 class="mb-6"><strong>DETAIL PRODUK</strong></h6><br>
                <div class="pro-img-details" style="width: 100%; height: 300px; overflow: hidden; border-radius: 10px; border: 2px solid black;">
                    <img src="{{ url_for('static', filename='ad_assets/imgproduk/' ~ produk.gambar) }}" alt=""
                        style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px; border: 2px solid black;">
                </div>                
            </div>

            <div class="col-md-5">
                <div class="product-details"><br>
                    <div><br><br>
                        <h4 style="margin-bottom: 15px; font-size: 25px; color: #1a6692;">{{ produk.nama_produk }}</h4>
                        <h5 style="margin-bottom: 15px;">Rp {{ "{:,.0f}".format(produk.harga).replace(",", ".") }}</h5>
                        <h6 style="margin-bottom: 15px;">Stok: {{ produk.stock }}</h6>
                    </div><br>
                    <form action="{{ url_for('tambah_ke_keranjang') }}" method="POST">
                        <div class="form-group mb-2" style="width: 120px;">
                            <label for="jumlah1">Jumlah</label>
                            <input class="form-control form-control-sm" type="number" id="jumlah1" name="jumlah" value="1" min="1" max="{{ produk.stock }}">
                        </div>
                        <input type="hidden" name="produk_id" value="{{ produk._id }}">
                        <button type="submit" class="btn btn-danger mt-3">Tambah Ke Keranjang</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 offset-md-2" style="width: 70%;">
                <hr>
                <div class="product-description">
                    <h6>Informasi Produk</h6>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#nav-deskripsi" data-toggle="tab" role="tab"
                                aria-selected="true">Deskripsi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#nav-informasi" data-toggle="tab" role="tab"
                                aria-selected="false">Informasi</a>
                        </li>
                    </ul>
                    <br>
                    <div class="tab-content" id="nav-tabContent" style="width: 60%;">
                        <div class="tab-pane fade show active" id="nav-deskripsi" role="tabpanel"
                            aria-labelledby="nav-deskripsi-tab">
                            <a>{{ produk.deskripsi }}</a>
                        </div>

                        <div class="tab-pane fade" id="nav-informasi" role="tabpanel"
                            aria-labelledby="nav-informasi-tab">
                            <ul>
                                <li>Kondisi : {{ produk.kondisi }}</li>
                                <li>Berat : {{ produk.berat }} kg</li>
                                <li>Kategori : {{ produk.kategori }}</li>
                                <li>Panjang : {{ produk.panjang }} cm</li>
                                <li>Lebar : {{ produk.lebar }} cm</li>
                                <li>Tinggi : {{ produk.tinggi }} cm</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'Footer.html' %}