<!-- Header -->
<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="../static/assets/images/logo.png" alt="Logo" style="width: 40px; height: 40px; margin-right: 10px;">
        <h2>Omah Koki <em>Jember</em></h2>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a href="#" class="btn btn-sm btn-danger m-2 rounded-circle dropdown-toggle" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgb(225, 64, 64); border: none;">
              <i class="fas fa-search" style="font-size: 15px;"></i>
            </a>
            <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuLink" style="width: 300px; margin: 0 auto;">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Cari disini..." aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Cari</button>
              </form>
            </div><br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/produk">Produk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tentang">Tentang</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kontak">Kontak</a>
          </li>

          {% if session.get('logged_in') %}
          <li class="nav-item">
            <a href="/keranjang" class="btn btn-sm btn-danger m-2" title="Keranjang Belanja"
              style="position: relative;">
              <i class="fa fa-cart-arrow-down"></i>
              {% if has_items %}
              <span
                style="position: absolute; top: -5px; right: -5px; height: 10px; width: 10px; background-color: red; border-radius: 50%;"></span>
              {% endif %}
            </a>
            <a href="/pesanan" class="btn btn-sm btn-danger m-2" title="Pesanan Saya" style="position: relative;">
              <i class="fa fa-list-alt"></i>
              {% if has_orders %}
              <span
                style="position: absolute; top: -5px; right: -5px; height: 10px; width: 10px; background-color: red; border-radius: 50%;"></span>
              {% endif %}
            </a>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="d-block nav-link text-decoration-none dropdown-toggle" id="dropdownUser1"
              data-bs-toggle="dropdown" aria-expanded="false">
              {% if session['image'] %}
              <img src="../static/assets/profil_pembeli/{{ session['image'] }}" alt="" width="32" height="32"
                class="rounded-circle">
              {% else %}
              <img src="../static/assets/profil_pembeli/default_photo.jpg" alt="Default Photo" width="32" height="32"
                class="rounded-circle">
              {% endif %}
              <span class="d-none d-lg-inline-flex username-text" style="color: white;">{{ session['nama'] }}</span>
            </a>
            <ul class="dropdown-menu text-small dropdown-menu-center" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="/profil">Profil</a></li>
              <li><a href="{{ url_for('logout') }}" class="dropdown-item">Keluar</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa fa-sign-in me-2"></i> Masuk
            </button>
          </li>
          {% endif %}
        </ul>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content d-flex flex-column h-100">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Masuk Sebagai</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body d-flex align-items-center justify-content-center">
                <a href="/adlogin" class="btn btn-outline-danger btn-lg me-2" style="width: 50%;"><i
                    class="fa fa-user me-2"></i>Admin</a>
                <a href="/login" class="btn btn-outline-danger btn-lg" style="width: 50%;"><i
                    class="fa fa-users me-2"></i>Pembeli</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </nav>
</header>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<style>
  .dropdown-toggle::after {
    display: none !important;
  }
</style>