{% include 'header.html' %}
{% include 'navbar.html' %}

<br><br><br><br>
<section id="tabs" class="project-tab">
    <h6 class="mb-6"><strong>PESANAN SAYA</strong></h6><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-konfirmasi-tab" data-toggle="tab"
                            href="#nav-konfirmasi" role="tab" aria-controls="nav-konfirmasi"
                            aria-selected="true">Konfirmasi</a>
                        <a class="nav-item nav-link" id="nav-proses-tab" data-toggle="tab" href="#nav-proses" role="tab"
                            aria-controls="nav-proses" aria-selected="false">Proses</a>
                        <a class="nav-item nav-link" id="nav-pengiriman-tab" data-toggle="tab" href="#nav-pengiriman"
                            role="tab" aria-controls="nav-pengiriman" aria-selected="false">Pengiriman</a>
                        <a class="nav-item nav-link" id="nav-selesai-tab" data-toggle="tab" href="#nav-selesai"
                            role="tab" aria-controls="nav-selesai" aria-selected="false">Selesai</a>
                        <a class="nav-item nav-link" id="nav-batal-tab" data-toggle="tab" href="#nav-batal" role="tab"
                            aria-controls="nav-batal" aria-selected="false">Batal</a>
                    </div>
                </nav><br>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-konfirmasi" role="tabpanel"
                        aria-labelledby="nav-konfirmasi-tab">
                        {% for pesanan in pesanan_list if pesanan.status == 'pending' %}
                        <div class="card mb-4">
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="h6">Nomor Pesanan</h3>
                                            <span>{{ pesanan.nomor_pesanan }}</span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Daftar Produk</h3>
                                            <span class="d-inline-block text-truncate" style="max-width: 150px;">
                                                {% for item in pesanan.ringkasan_belanja %}
                                                {{ item.nama_produk }} ({{ item.jumlah }}x),
                                                {% endfor %}
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Status Pesanan</h3>
                                            <div class="alert alert-warning py-2">Menunggu Konfirmasi</div>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <h3 class="h6">Metode Pengiriman</h3>
                                            <span class="d-inline-block" style="max-width: 150px;">
                                                <span>{{ pesanan.metode_pengiriman }}</span>
                                                <span>- {{ pesanan.estimasi_pengiriman }} hari</span>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Metode Pembayaran</h3>
                                            <span class="d-inline-block" style="max-width: 165px;">
                                                <span>Nama Bank: {{ pesanan.metode_pembayaran }}</span>
                                                <span>({{ pesanan.no_rek }})</span>
                                                <span>An: {{ pesanan.pemilik_rek }}</span>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Total Belanja</h3>
                                            <span>Rp {{ "{:,.0f}".format(pesanan.total_semuanya).replace(",", ".")
                                                }}</span>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal"
                                            data-bs-target="#detailpesanan{{ pesanan._id }}"><i
                                                class="fa fa-info me-2"></i>Detail Pesanan</button>
                                        <button type="button" class="btn btn-outline-primary m-2"><i
                                                class="fa fa-whatsapp me-2"></i>Whatsapp</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="nav-proses" role="tabpanel" aria-labelledby="nav-proses-tab">
                        {% for pesanan in pesanan_list if pesanan.status == 'proses' %}
                        <div class="card mb-4">
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="h6">Nomor Pesanan</h3>
                                            <span>{{ pesanan.nomor_pesanan }}</span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Daftar Produk</h3>
                                            <span class="d-inline-block text-truncate" style="max-width: 150px;">
                                                {% for item in pesanan.ringkasan_belanja %}
                                                {{ item.nama_produk }} ({{ item.jumlah }}x),
                                                {% endfor %}
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Status Pesanan</h3>
                                            <div class="alert alert-info py-2">Proses Pengemasan</div>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <h3 class="h6">Metode Pengiriman</h3>
                                            <span class="d-inline-block" style="max-width: 150px;">
                                                <span>{{ pesanan.metode_pengiriman }}</span>
                                                <span>- {{ pesanan.estimasi_pengiriman }} hari</span>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Metode Pembayaran</h3>
                                            <span class="d-inline-block" style="max-width: 165px;">
                                                <span>Nama Bank: {{ pesanan.metode_pembayaran }}</span>
                                                <span>({{ pesanan.no_rek }})</span>
                                                <span>An: {{ pesanan.pemilik_rek }}</span>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Total Belanja</h3>
                                            <span>Rp {{ "{:,.0f}".format(pesanan.total_semuanya).replace(",", ".")
                                                }}</span>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal"
                                            data-bs-target="#detailpesanan{{ pesanan._id }}"><i
                                                class="fa fa-info me-2"></i>Detail Pesanan</button>
                                        <button type="button" class="btn btn-outline-primary m-2"><i
                                                class="fa fa-whatsapp me-2"></i>Whatsapp</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="nav-pengiriman" role="tabpanel" aria-labelledby="nav-pengiriman-tab">
                        {% for pesanan in pesanan_list if pesanan.status == 'dikirim' %}
                        <div class="card mb-4">
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="h6">Nomor Pesanan</h3>
                                            <span>{{ pesanan.nomor_pesanan }}</span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Daftar Produk</h3>
                                            <span class="d-inline-block text-truncate" style="max-width: 150px;">
                                                {% for item in pesanan.ringkasan_belanja %}
                                                {{ item.nama_produk }} ({{ item.jumlah }}x),
                                                {% endfor %}
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Status Pesanan</h3>
                                            <div class="alert alert-primary py-2">Pengiriman</div>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <h3 class="h6">Metode Pengiriman</h3>
                                            <span class="d-inline-block" style="max-width: 150px;">
                                                <span>{{ pesanan.metode_pengiriman }}</span>
                                                <span>- {{ pesanan.estimasi_pengiriman }} hari</span>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Metode Pembayaran</h3>
                                            <span class="d-inline-block" style="max-width: 165px;">
                                                <span>Nama Bank: {{ pesanan.metode_pembayaran }}</span>
                                                <span>({{ pesanan.no_rek }})</span>
                                                <span>An: {{ pesanan.pemilik_rek }}</span>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Total Belanja</h3>
                                            <span>Rp {{ "{:,.0f}".format(pesanan.total_semuanya).replace(",", ".")
                                                }}</span>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal"
                                            data-bs-target="#detailpesanan{{ pesanan._id }}"><i
                                                class="fa fa-info me-2"></i>Detail Pesanan</button>
                                        <button type="button" class="btn btn-outline-primary m-2"><i
                                                class="fa fa-whatsapp me-2"></i>Whatsapp</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="nav-selesai" role="tabpanel" aria-labelledby="nav-selesai-tab">
                        {% for pesanan in pesanan_list if pesanan.status == 'selesai' %}
                        <div class="card mb-4">
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="h6">Nomor Pesanan</h3>
                                            <span>{{ pesanan.nomor_pesanan }}</span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Daftar Produk</h3>
                                            <span class="d-inline-block text-truncate" style="max-width: 150px;">
                                                {% for item in pesanan.ringkasan_belanja %}
                                                {{ item.nama_produk }} ({{ item.jumlah }}x),
                                                {% endfor %}
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Status Pesanan</h3>
                                            <div class="alert alert-success py-2">Selesai</div>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <h3 class="h6">Metode Pengiriman</h3>
                                            <span class="d-inline-block" style="max-width: 150px;">
                                                <span>{{ pesanan.metode_pengiriman }}</span>
                                                <span>- {{ pesanan.estimasi_pengiriman }} hari</span>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Metode Pembayaran</h3>
                                            <span class="d-inline-block" style="max-width: 165px;">
                                                <span>Nama Bank: {{ pesanan.metode_pembayaran }}</span>
                                                <span>({{ pesanan.no_rek }})</span><br>
                                                <span>An: {{ pesanan.pemilik_rek }}</span>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Total Belanja</h3>
                                            <span>Rp {{ "{:,.0f}".format(pesanan.total_semuanya).replace(",", ".")
                                                }}</span>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal"
                                            data-bs-target="#detailpesanan{{ pesanan._id }}"><i
                                                class="fa fa-info me-2"></i>Detail Pesanan</button>
                                        <button type="button" class="btn btn-outline-primary m-2"><i
                                                class="fa fa-whatsapp me-2"></i>Whatsapp</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="nav-batal" role="tabpanel" aria-labelledby="nav-batal-tab">
                        {% for pesanan in pesanan_list if pesanan.status == 'batal' %}
                        <div class="card mb-4">
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="h6">Nomor Pesanan</h3>
                                            <span>{{ pesanan.nomor_pesanan }}</span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Daftar Produk</h3>
                                            <span class="d-inline-block text-truncate" style="max-width: 150px;">
                                                {% for item in pesanan.ringkasan_belanja %}
                                                {{ item.nama_produk }} ({{ item.jumlah }}x),
                                                {% endfor %}
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Status Pesanan</h3>
                                            <div class="alert alert-danger py-2">Dibatalkan</div>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <h3 class="h6">Metode Pengiriman</h3>
                                            <span class="d-inline-block" style="max-width: 150px;">
                                                <span>{{ pesanan.metode_pengiriman }}</span>
                                                <span>- {{ pesanan.estimasi_pengiriman }} hari</span>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Metode Pembayaran</h3>
                                            <span class="d-inline-block" style="max-width: 165px;">
                                                <span>Nama Bank: {{ pesanan.metode_pembayaran }}</span>
                                                <span>({{ pesanan.no_rek }})</span>
                                                <span>An: {{ pesanan.pemilik_rek }}</span>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h3 class="h6">Total Belanja</h3>
                                            <span>Rp {{ "{:,.0f}".format(pesanan.total_semuanya).replace(",", ".")
                                                }}</span>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal"
                                            data-bs-target="#detailpesanan{{ pesanan._id }}"><i
                                                class="fa fa-info me-2"></i>Detail Pesanan</button>
                                        <button type="button" class="btn btn-outline-primary m-2"><i
                                                class="fa fa-whatsapp me-2"></i>Whatsapp</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'Footer.html' %}

<header>
    <!-- Modal -->
    {% for pesanan in pesanan_list %}
    <div class="modal fade" id="detailpesanan{{ pesanan._id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detail Pesanan - {{ pesanan.nomor_pesanan }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="display: flex; justify-content: space-between;">
                        <span>Tanggal Pesanan</span>
                        <span>02/06/2004</span>
                    </div>
                    <hr>
                    <div style="display: flex; justify-content: space-between;">
                        <span>Tanggal Pengiriman</span>
                        <span>-</span>
                    </div>
                    <hr>
                    <div style="display: flex; justify-content: space-between;">
                        <span>Tanggal Diterima</span>
                        <span>-</span>
                    </div>
                    <hr>
                    <div style="display: flex; justify-content: space-between;">
                        <span>Nama Penerima</span>
                        <span>Lorem Ipsum Lorem Ipsum</span>
                    </div>
                    <hr>
                    <div style="display: flex; flex-direction: column;">
                        <div>
                            <span>Alamat</span>
                        </div>
                        <div>
                            <span>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</span>
                        </div>
                    </div>
                    <hr>
                    <div style="display: flex; flex-direction: column;">
                        <div>
                            <span>Daftar Barang</span>
                        </div><br>
                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <div style="display: flex; align-items: center;">
                                        <img src="../static/assets/images/client-01.png" alt="Gambar Barang 1"
                                            style="width: 50px; height: 50px; margin-right: 10px;">
                                        <div>
                                            <h6 class="card-title">Barang 1</h6>
                                            <p class="card-text">Harga: $10 | Jumlah: 2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div style="display: flex; align-items: center;">
                                        <img src="./static/assets/images/client-01.png" alt="Gambar Barang 2"
                                            style="width: 50px; height: 50px; margin-right: 10px;">
                                        <div>
                                            <h6 class="card-title">Barang 2</h6>
                                            <p class="card-text">Harga: $20 | Jumlah: 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <span>Ringkasan Belanja</span>
                        </div>
                    </div><br>
                    <div style="display: flex; justify-content: space-between;">
                        <span>Total Produk</span>
                        <span>Rp.15.000</span>
                    </div>
                    <hr>
                    <div style="display: flex; justify-content: space-between;">
                        <span>Total Pengiriman</span>
                        <span>Rp.0</span>
                    </div>
                    <hr>
                    <div style="display: flex; justify-content: space-between;">
                        <span>Total</span>
                        <span>Rp.15.000</span>
                    </div>
                    <hr>
                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <span>Upload Bukti Transfer</span>
                        </div>
                    </div><br>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="width: 100px; height: 100px;">
                            <img src="./static/assets/images/client-01.png" alt="Upload Icon"
                                style="width: 100%; height: 100%;">
                        </div>
                    </div><br>
                    <div class="mb-3">
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-primary">Simpan</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</header>

<style>
    .project-tab {
        padding: 10%;
        margin-top: -8%;
    }

    .project-tab #tabs {
        background: #007b5e;
        color: #eee;
    }

    .project-tab #tabs h6.section-title {
        color: #eee;
    }

    .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #cc0007;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 3px solid !important;
        font-size: 16px;
        font-weight: bold;
    }

    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #333;
        font-size: 16px;
        font-weight: 600;
    }

    .project-tab .nav-link:hover {
        border: none;
    }
</style>