{% include 'header.html' %}
{% include 'navbar.html' %}

<!-- Page Content -->
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>Produk Kami</h4>
          <h2>Omah Koki Jember</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products">
  <div class="container">
    <div class="row">

      <div class="col-lg-3">
        <div class="container">
          <div class="card">
            <article class="filter-group">
              <div class="card-header-custom">
                <a href="/detailproduk" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Kategori</h6>
                </a>
              </div>
              <div class="filter-content collapse show" id="collapse_1">
                <div class="card-body">
                  <ul class="list-menu">
                    <li><a href="#">Semua Produk</a></li>
                    <li><a href="#">Ikan Hias</a></li>
                    <li><a href="#">Pakan & Obat</a></li>
                    <li><a href="#">Lainnya</a></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>

          <div class="card">
            <div class="card-header-custom">
              <a href="/detailproduk" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Keranjang Belanja</h6>
              </a>
            </div>
            <div class="card-body collapse show" id="collapse_2">
              <div class="card-body">
                <h6>Rp.15.000</h6><br>
                <a href="/keranjang">Lihat Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="filters-content">
          <div class="row grid">
            <div class="col-lg-4 col-md-4 all des">
              <div class="product-item">
                <a href="/detailproduk"><img src="../static/assets/images/product_01.jpg" alt=""></a>
                <div class="down-content">
                  <a href="/detailproduk">
                    <h4>Tittle goes here</h4>
                  </a>
                  <h6>$18.25</h6>
                  <p class="text-truncate">Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all dev">
              <div class="product-item">
                <a href="/detailproduk"><img src="../static/assets/images/product_02.jpg" alt=""></a>
                <div class="down-content">
                  <a href="/detailproduk">
                    <h4>Tittle goes here</h4>
                  </a>
                  <h6>$16.75</h6>
                  <p class="text-truncate">Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all gra">
              <div class="product-item">
                <a href="/detailproduk"><img src="../static/assets/images/product_03.jpg" alt=""></a>
                <div class="down-content">
                  <a href="/detailproduk">
                    <h4>Tittle goes here</h4>
                  </a>
                  <h6>$32.50</h6>
                  <p class="text-truncate">Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all gra">
              <div class="product-item">
                <a href="/detailproduk"><img src="../static/assets/images/product_04.jpg" alt=""></a>
                <div class="down-content">
                  <a href="/detailproduk">
                    <h4>Tittle goes here</h4>
                  </a>
                  <h6>$24.60</h6>
                  <p class="text-truncate">Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all dev">
              <div class="product-item">
                <a href="/detailproduk"><img src="../static/assets/images/product_05.jpg" alt=""></a>
                <div class="down-content">
                  <a href="/detailproduk">
                    <h4>Tittle goes here</h4>
                  </a>
                  <h6>$18.75</h6>
                  <p class="text-truncate">Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all des">
              <div class="product-item">
                <a href="/detailproduk"><img src="../static/assets/images/product_06.jpg" alt=""></a>
                <div class="down-content">
                  <a href="/detailproduk">
                    <h4>Tittle goes here</h4>
                  </a>
                  <h6>$12.50</h6>
                  <p class="text-truncate">Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <ul class="pages">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'Footer.html' %}

<style>
  .list-menu {
    list-style: none;
    padding: 0;
  }

  .title {
    color: #333;
    font-size: 18px;
  }

  .icon-control {
    float: right;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-header-custom {
    background-color: #f5f5f5;
    padding: 10px;
  }

  .list-menu li a:hover {
    color: #f33f3f;
  }
</style>