{% include 'header.html' %}
{% include 'navbar.html' %}

<!-- Page Content -->
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>Produk Kami</h4>
          <h2>Omah Koki Jember</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products">
  <div class="container">
    <div class="row">

      <div class="col-lg-3">
        <div class="container">
          <div class="card">
            <article class="filter-group">
              <div class="card-header-custom">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Kategori</h6>
                </a>
              </div>
              <div class="filter-content collapse show" id="collapse_1">
                <div class="card-body">
                  <ul class="list-menu">
                    <li><a href="#" data-category="Semua Produk">Semua Produk</a></li>
                    <li><a href="#" data-category="Ikan Hias">Ikan Hias</a></li>
                    <li><a href="#" data-category="Obat Ikan">Obat Ikan</a></li>
                    <li><a href="#" data-category="Pakan Ikan">Pakan Ikan</a></li>
                    <li><a href="#" data-category="Aquarium">Aquarium</a></li>
                    <li><a href="#" data-category="Aksesoris Aquarium">Aksesoris Aquarium</a></li>
                    <li><a href="#" data-category="Alat-alat">Alat-alat</a></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>

          {% if session.get('logged_in') %}
          <div class="card">
            <div class="card-header-custom">
              <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Keranjang Belanja</h6>
              </a>
            </div>
            <div class="card-body collapse show" id="collapse_2">
              <div class="card-body">
                <h6>Rp.15.000</h6><br>
                <a href="/keranjang">Lihat Detail</a>
              </div>
            </div>
          </div>
          {% endif %}

        </div>
      </div>

      <div class="col-lg-9">
        <div class="filters-content">
          <div class="row grid">

            {% for item in produk %}
            <div class="col-md-4 all" data-category="{{ item.kategori }}">
              <div class="product-item">
                <a href="/detailproduk/{{ item._id }}">
                  <img src="{{ url_for('static', filename='ad_assets/imgproduk/' ~ item.gambar) }}" alt=""
                    style="width: 100%; height: 200px; object-fit: cover;">
                </a>
                <div class="down-content">
                  <a href="/detailproduk/{{ item._id }}">
                    <h4 class="text-truncate">{{ item.nama_produk }}</h4>
                  </a>
                  <h6>Rp.{{ item.harga }}</h6>
                  <p class="text-truncate">{{ item.deskripsi }}</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}


          </div>
        </div>

        <div class="col-md-12">
          <ul class="pages">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'Footer.html' %}

<style>
  .list-menu {
    list-style: none;
    padding: 0;
  }

  .title {
    color: #333;
    font-size: 18px;
  }

  .icon-control {
    float: right;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-header-custom {
    background-color: #f5f5f5;
    padding: 10px;
  }

  .list-menu li a:hover {
    color: #f33f3f;
  }

  .product-item {
    height: 400px;
  }
</style>