{% include 'header.html' %}
{% include 'navbar.html' %}

<!-- Page Content -->
<div class="page-heading about-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>Tentang Kami</h4>
          <h2>Omah Koki Jember</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="best-features about-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Latar Belakang Kami</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="../static/assets/images/feature-image.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Siapa kami &amp; Apa yang kami jual ?</h4>
          <p>Omah Koki Jember 2 merupakan salah satu cabang dari Omah Koki Jember yang terkenal. Toko ini menjadi
            destinasi utama bagi para penghobi ikan hias di Jember dan sekitarnya. Dengan menyediakan berbagai macam
            jenis ikan hias, bibit lele, peralatan akuarium lengkap, serta pakan berkualitas, Omah Koki Jember 2 hadir
            untuk memenuhi kebutuhan para pecinta akuatik. Terletak di Jl. Danau Toba No.14, Lingkungan Panji,
            Tegalgede, Kec. Sumbersari, Kabupaten Jember, toko ini menjadi tempat yang nyaman dan lengkap untuk
            berbelanja kebutuhan seputar dunia akuatik.</p>
          <!-- <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="team-members">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Anggota Tim Kami</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-member">
          <div class="thumb-container">
            <!-- <img src="../static/assets/images/team_01.jpg" alt=""> -->
            <!-- <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div> -->
          </div>
          <div class="down-content">
            <h4>Muhammad Rama P. W.</h4>
            <span>CO-Founder</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-member">
          <div class="thumb-container">
            <!-- <img src="../static/assets/images/team_02.jpg" alt=""> -->
            <!-- <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div> -->
          </div>
          <div class="down-content">
            <h4>Fadila Pristisia Afiani</h4>
            <span>Product Expert</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-member">
          <div class="thumb-container">
            <!-- <img src="../static/assets/images/team_04.jpg" alt=""> -->
            <!-- <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div> -->
          </div>
          <div class="down-content">
            <h4>Nur Israhmid</h4>
            <span>Product Specialist</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="team-member">
          <div class="thumb-container">
            <!-- <img src="../static/assets/images/team_06.jpg" alt=""> -->
            <!-- <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div> -->
          </div>
          <div class="down-content">
            <h4>Andi Muh Fajar I. M.</h4>
            <span>General Manager</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br><br><br>


<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-gear"></i>
          </div>
          <div class="down-content">
            <h4>Product Management</h4>
            <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
            <a href="#" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-gear"></i>
          </div>
          <div class="down-content">
            <h4>Customer Relations</h4>
            <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
            <a href="#" class="filled-button">Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-gear"></i>
          </div>
          <div class="down-content">
            <h4>Global Collection</h4>
            <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
            <a href="#" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="happy-clients">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Happy Partners</h2>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-clients owl-carousel">
              <div class="client-item">
                <img src="../static/assets/images/client-01.png" alt="1">
              </div>
              
              <div class="client-item">
                <img src="../static/assets/images/client-01.png" alt="2">
              </div>
              
              <div class="client-item">
                <img src="../static/assets/images/client-01.png" alt="3">
              </div>
              
              <div class="client-item">
                <img src="../static/assets/images/client-01.png" alt="4">
              </div>
              
              <div class="client-item">
                <img src="../static/assets/images/client-01.png" alt="5">
              </div>
              
              <div class="client-item">
                <img src="../static/assets/images/client-01.png" alt="6">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

{% include 'Footer.html' %}